@using DevSpot.Constants
@model IEnumerable<JobPosting>

<h1 class="text-center m-5">All Developer Jobs</h1>

<div class="list-group">

    @foreach(var jobPostings in Model)
    {
        <div class="list-group-item" id="job-posting-@jobPostings.Id">
            <h3>@jobPostings.Title</h3>
            <p>@jobPostings.Description</p>
            <p><strong>Company:</strong> @jobPostings.Company</p>
            <p><strong>Location:</strong> @jobPostings.Location</p>
            <p><strong>Posted Date:</strong> @jobPostings.PostedDate.ToShortDateString()</p>

            @if(User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Employer))
            {
                <div>
                    <button onclick="deleteJobPosting(@jobPostings.Id)" class="btn btn-sm btn-danger">Delete</button>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        function deleteJobPosting(id)
        {
            if (confirm("Are you sure you want to delete this job posting?")) 
            {
                $.ajax({
                    url: "@Url.Action("Delete", "JobPostings")/" + id,
                    type: "delete",
                    success: function (result) { 
                        $("#job-posting-" + id).remove();

                    },
                    error: function (err) {
                        alert("Ann error occured.")
                    }
                
                });
            }
        }
    </script>
}